/* reset Bootstrap */
legend{border-bottom: 0; font-size: 14px; margin-bottom: 12px; font-weight: bold;}
fieldset{margin-bottom: 16px;}
.btn{border-radius: 0; font-weight: bold; border: 0;}
.btn .fa{opacity:1;}
.btn .fa:before{font-size:18px;}
.btn-lg{border-radius: 0; font-size: 14px; height: 44px; padding: 13px 16px;}
.btn-primary{background: #0090c8; border-color: #0090c8}
.btn-green{background: #26d1b0; border-color: #26d1b0;color:#fff;}
.btn-default{background: #a0a0a0; color: #fff;}
.form-control{font-size: 14px; border-radius: 0; box-shadow: none; -webkit-box-shadow: none; height: 44px; padding: 11px 16px;}
.form-control:focus{border-color: #0090c8; box-shadow: none; -webkit-box-shadow: none;}
textarea.form-control{min-height: 6.5em;}
.form-control.small{padding: 8px 10px; height: 32px;}
.form-group.wrap-col4{margin-right: -5px;}
.form-control.col-xs-4{width: calc(33.33% - 5px); margin-right:5px;}
.form-control.col-xs-4:last-child{margin-right:0;}
.form-group{margin-bottom: 8px;}
.modal-dialog{top: 20vh;}
.modal-content{border-radius: 0;}
.modal-lg{width: 100%; height: 100%; margin: 0; top: 0;}
.modal-lg .modal-content{border: none; height: 100%;}
.modal-lg .modal-body{height: 75%; overflow-y: auto;}
.modal-lg .modal-body.modal-body-full{height: 90%;}
.modal-body.perfect-full{padding: 0; height: 100%;}
.border-text-box{border: 1px solid #ddd; padding: 15px; height: 100%; overflow-y: auto;}
.nav-tabs{display: flex; border-bottom: 0; width:100%;position:fixed;left:0;top:48px;z-index:99;}
.nav-tabs>li{flex-grow: 1; text-align: center;}
.nav-tabs>li>a{border: 0; border-radius: 0; color: #333; background: #f4f4f4; margin-right: 0;}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus{border: 0; background: #0090c8; color: #fff; font-weight: bold;}
.tab-content{padding-top: 35px;}
.tab-content.no-padding{padding-top: 0;}
.table{margin-top: 15px;}
.table p{margin: 0;}
.table thead{font-weight: bold;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{vertical-align: middle;}
.form-inline{display: flex;}
.form-inline > div{flex-grow: 1;}

.fa{opacity: .5; margin-right: 0.2em;}
html, body{font-family: 'NanumGothic', sans-serif; font-size: 13px;}
input[type="checkbox"], input[type="radio"]{display: none;}
ul, ol, li{list-style: none; padding: 0;}
a:focus, button:focus, .btn:focus, .btn:active:focus{outline: none;}
h1, h2, h3, h4, h5, h6{font-weight: bold;}
h4{font-size: 16px;}
h6{font-size: 10px;}
.wrap{overflow-x: hidden;}
.horizontal-list li{float: left;}
.strong{font-family: 'NanumGothicB', 'NanumGothic', sans-serif}
.icons{background-image: url(/images/mobile/icons.png); background-size: 85px 67px;}
.icons.custom-checkbox{display: inline-block; width: 18px; height: 18px; border-radius: 3px; border: 1px solid #cecece; background-position: -19px -88px; vertical-align: middle; margin: 0 8px 2px 0;}
input[type="checkbox"]:checked ~ .icons.custom-checkbox{background-position: -19px -68px;}
div[class^="col-xs-"].left{padding-right: 5px;}
div[class^="col-xs-"].right{padding-left: 5px;}

.form-formNbtn .fa{opacity:1;}
.form-formNbtn > *{margin-right:5px;}
.form-formNbtn > *:last-child{margin-right:0;}
.form-formNbtn .form-control{display:inline-block;width:220px;vertical-align: middle;}
.form-formNbtn .btn{height:44px; width:50px;}
.form-formNbtn .btn i{font-size:18px;}

.mgb8{margin-bottom:8px;}
.w275{width:275px !important;}
.pdb90{padding-bottom:90px !important;}

.form-hidden{margin-top:20px;}
/* star rating */
input[name="starRate"]{display: none;}
.wrapStar label:before{content:"\f006";font:normal normal normal 30px/1 FontAwesome;margin-right:10px; color:#ffa200;}
.wrapStar label:last-child:before{margin-right:0;}
input#star1:checked ~ .wrapStar label:nth-child(-n+1):before{content:"\f005";}
input#star2:checked ~ .wrapStar label:nth-child(-n+2):before{content:"\f005";}
input#star3:checked ~ .wrapStar label:nth-child(-n+3):before{content:"\f005";}
input#star4:checked ~ .wrapStar label:nth-child(-n+4):before{content:"\f005";}
input#star5:checked ~ .wrapStar label:nth-child(-n+5):before{content:"\f005";}

.wrap.login{height: 100vh; background: url(/images/mobile/login_bg01.png); background-size: 100% auto;}
.wrap.main{height: 100vh; background: linear-gradient(to bottom, rgba(0,0,0, .5),  rgba(0,0,0, 0)), url(/images/mobile/background.png); background-size: 100% 50%, 100% auto; background-repeat: no-repeat, no-repeat;}
.wrap.login h4{line-height: 1.5em; font-size: 20px;}
a.linkdeco{border-bottom: 1px solid #0090c8; padding-bottom: 1px;}

.header{height: 48px; position: relative; border-bottom: 2px solid #26d1b0; text-align: center; font-size: 15px; font-weight: bold; padding-top: 13px;}
.main .header{border: 0;}
.header .menu{padding: 18px 15px; position: absolute; top: 0; font-size: 0;}
.header .logo{height: 20px;}
.menu .icons{width: 14px; height: 14px; display: inline-block;}
.header .menu.left{left: 0;}
.header .menu.right{right: 0;}
.icons.menu-hamburger{background-position: 0 -40px; width: 18px;}
.icons.close-btn{background-position: -1px -1px;}
.icons.back{background-position: 0 -15px;}

.contents{padding-bottom: 15px; padding-top: 15px;}
.has-fixed-footer{padding-bottom: 60px;}
label.q-radio{display: block; margin-bottom: 8px;}
label.q-radio span{display: block; text-align: center;}
label.q-radio input[type="radio"]:checked ~ span{background: #0090c8; border-color: #0090c8; color: #fff;}
.circle-pagination ul{padding: 0 0 20px 0; margin: 0 auto; display: table;}
.circle-pagination ul li a{display: inline-block; font-size: 0; width: 10px; height: 10px; border-radius: 50%; border: 1px solid #cecece; padding: 0; margin: 0 3px;}
.circle-pagination ul li.active a{background: #0090c8; border-color: #0090c8;}
.circle-pagination .menu{position: fixed; top: 0; left: 0; padding: 18px 15px;}

.aside{width: 100%; height: 100%; position: fixed; top: 0; right: 0; background: rgba(0,0,0,.5); display: none; z-index: 15;}
.aside .wrap-side{width: 70%; height: 100%; position: fixed; top: 0; right: -300px; background: #f4f4f4; z-index: 16;}
.aside .aside-blank{width: 30%; height: 100%;}
.aside section.member-info{background: #0090c8; color: #fff; padding: 30px 20px;}
.aside section.member-info p strong{font-size: 18px;}
.aside section.side-menu li{margin-bottom: -1px; height: 50px; padding: 14px 16px;}
.aside section.side-menu li a{color: #333;}
.aside section.side-menu li a .fa{color: #bfbfbf; margin-right: 10px;}
.icons.member-level{width: 43px; height: 60px; background-position: -37px 0; font-size: 10px; font-weight: bold; line-height: 12px; padding-top: 12px; position: absolute; right: 15px; top: 0; color: #333;}
.aside .side-footer{position: absolute; bottom: 0;}
.aside .side-footer ul{display: table; margin: 0 0 20px 24px;}
.aside .side-footer ul li:first-child:after{content: '|'; opacity: .5; margin: 0 10px;}
.aside .side-footer ul li a{color: #333;}

.footer.fix{position: fixed; width: 100%; bottom: 0; padding: 10px 15px; border-top: 1px solid #ddd; background: #fff;}
.footer{font-size: 8px; position: absolute; bottom: 0; border-top: 1px solid #ddd; padding: 20px 0; width: 100%;}
.footer .footer-logo{height: 25px; margin-top: 5px;}
.footer .right{margin-left: -10px;}

.join-info{padding-bottom: 15px;}
.agreements{border-top: 1px solid #0090c8; border-bottom: 2px solid #0090c8}
.agreements .form-control{border-left: 0; border-right: 0; margin-bottom: -1px; position: relative; border-color: #e4e4e4;}
.agreements .form-control.grey{background: #f6f6f6; padding-left: 32px;}
.agreements .form-control.grey:after{content: ''; background-image: url(/images/mobile/icons.png); background-size: 85px 67px; width: 9px; height: 15px; position: absolute; right: 16px; top: 50%; margin-top: -7px; background-position: 0 -28px;}

.search-result{display: none;}
.search-result form{background: #fafafa; padding: 18px 15px 10px; margin-top: 20px;}
.search-result fieldset{margin-bottom: 0;}
.search-result label{line-height: 1em; margin-bottom: 0; margin-top: 3px;}
.search-result label:not(.text-2line){margin-top: 11px;}

.tabpanel{margin-top: -15px;}
.text-modal-alert{padding: 20px 0;}

.main .footer{background: rgba(0,0,0,.15);}

.main-text{background: #fff; display: table; width: 100%; border-radius: 10px; padding: 20px 15px; position: relative;}
.main-text > div{display: table-cell; vertical-align: middle;}
.member-level > span{width: 45px; height: 45px; min-width: 45px; background: #26d1b0; line-height: 1.2em; border-radius: 50%; display: table-cell; vertical-align: middle; font-size: 10px; font-weight: bold; padding-top: 2px;}
.member-text{padding-left: 15px; width: 85%;}
.member-text .big{font-size: 1.3em; margin-right: .2em;}
.member-text h5, .member-text h6{margin-top: 5px; margin-bottom: 5px;}
.main-text .triangle{width: 0px;height: 0px; border-bottom:10px solid none; border-top:10px solid #fff; border-right: 10px solid transparent; border-left: 10px solid  transparent; position: absolute; top: 100%; left: 50%; margin-left: -10px;}

.main .btns{display: table; margin: 0 auto; padding-top: 20%;}
.main-btn{display: block; width: 120px; height: 120px; vertical-align: middle; border-radius: 50%; background: #0090c8; color: #fff; border-right: 2px solid #00668e; border-bottom: 2px solid #00668e; margin-bottom: 20px; font-weight: bold; font-size: 14px; padding-top: 25px;}
.main-btn:hover, .main-btn:focus{color: #fff; text-decoration: none;}
.main-btn.grey{background: #535353; border-color: #2d2d2d;}
.main-btn .fa{margin: 0; opacity: 1; font-size: 2.3em; font-weight: normal;}
.main-btn hr{width: 30px; margin: 5px auto 8px; opacity: .5}

.list-comment li{border-bottom:1px solid #ddd; padding-top:10px;}
.list-comment li:first-child{border-top: 1px solid #ddd;}
.list-comment .author{font-weight: 700;}
.list-comment .author span{font-weight: normal; font-size:0.95em; color:#c5c5c5;}
.list-comment .fa{opacity:1; margin-right: 8px;text-indent: 9999;}

.map{margin-bottom: 30px;}
h4.address{margin-bottom: 30px;}
.info-call h5{font-weight: normal;}
.info-call h5 strong{margin-bottom: 10px; display: block}

.login-info{padding-top: 15vh; padding-bottom: 15px;}
.login-logo{height: 40px;}

.upload-img{width: 100%; height: 150px; overflow: hidden;}
.view-img{display: block; width: 100%; height: 100%; position: relative;}
.upload-img img{position: absolute; top: 50%; width: 100%; height: auto;}
.view-img-big{width: 100%; height: 100%; background: rgba(0,0,0,.8); position: relative;}
.view-img-big img{position: absolute;}

.arrow_down{display: inline-block; width:15px; height:15px; background: url(/images/mobile/arrow_down.png) no-repeat; vertical-align: middle; opacity: .5; font-size:0;}

@media (max-width: 320px){
    .main .btns{padding-top: 10%;}
}
