@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/NanumGothic.eot');
  src: url('/fonts/NanumGothic.woff2') format('woff2'),
       url('/fonts/NanumGothic.woff') format('woff'),
       url('/fonts/NanumGothic.ttf') format('truetype'),
       url('/fonts/NanumGothic.svg#NanumGothic') format('svg'),
       url('/fonts/NanumGothic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}